<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Aoe_Profiler>
			<version>0.3.0</version>
		</Aoe_Profiler>
	</modules>

	<global>
		<models>
			<aoe_profiler>
				<class>Aoe_Profiler_Model</class>
			</aoe_profiler>
		</models>
		<helpers>
			<aoe_profiler>
				<class>Aoe_Profiler_Helper</class>
			</aoe_profiler>
		</helpers>
		<blocks>
			<aoe_profiler>
				<class>Aoe_Profiler_Block</class>
			</aoe_profiler>
            <core>
                <rewrite>
                    <profiler>Aoe_Profiler_Block_Profiler</profiler>
                </rewrite>
            </core>
		</blocks>
        <events>
            <controller_action_postdispatch>
                <observers>
                    <aoe_profiler>
                        <class>Aoe_Profiler_Model_Observer</class>
                        <type>singleton</type>
                        <method>outputToFile</method>
                    </aoe_profiler>
                </observers>
            </controller_action_postdispatch>
        </events>
	</global>

	<default>
		<dev>
			<debug>
				<showDisabledMessage>1</showDisabledMessage>
				<hideLinesFasterThan>10</hideLinesFasterThan>
				<logInvalidNesting>1</logInvalidNesting>
                <remoteCallUrlTemplate><![CDATA[http://localhost:8091/?message=%s:%s]]></remoteCallUrlTemplate>
			</debug>
		</dev>
	</default>

</config>
